name: Linux x86_64 CI

on:
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: update Apt
      run: sudo apt-get update
    - name: install-dependencies
      run: sudo apt-get install libsdl2-dev libsdl2-image-dev liblcms2-dev liblua5.3-dev libfreetype6-dev libnode-dev
    - name: configure
      run: ./configure
    - name: make
      run: make -j 4
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: dotto-development-linux-x86_64
        path: |
          dotto
          data